body {
    margin: 0;
    background-image: linear-gradient(#FFF, #2B2B2B);
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

a:hover,
button:hover {
    cursor: pointer;
}


/*header*/

.header {
    width: 100vw;
    position: fixed;
    top: 2vw;
    z-index: 100;
    background-color: rgba(256, 256, 256, .8);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header img {
    width: 30vw;
}

.menu {
    width: 70vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;

}

.menu a {
    font-size: 1.3vw;
    font-weight: bold;
    color: #8C0404;
    text-decoration: none;
}

.menu>li {
    display: block;
    margin: auto;
}

.menu a:hover {
    text-decoration: underline;
    color: #000;
}

.contact {
    width: 100vw;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgba(24, 23, 23, 0.6);
}

.contact>div {
    width: 30vw;
    line-height: 2vw;
    font-size: 1.5vw;
}

.contact>div:nth-child(1) {
    font-size: 1vw;
}

.contact img {
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 1vw;
}


/*слайдер*/

.slider {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 500vw;
    animation: slideshow 20s ease-in 2s alternate infinite;
}

.slide>div>img {
    float: left;
    width: 100vw;
}

.slide>div {
    position: relative;
}

.slider button {
    position: absolute;
    top: 35vw;
    width: 15vw;
    height: 5vw;
    outline: none;
    border: none;
    font-size: 1.3vw;
    border-radius: .5vw;
}
.slider button>a {
    color: #FFF;
}

.slider>button:nth-of-type(1) {
    left: 5vw;
    background-image: linear-gradient(#FA3838, #9F0101);
}

.slider>button:nth-of-type(2) {
    left: 22vw;
    background-image: linear-gradient(#433F3F, #241212);
}

.slider button:hover {
    text-decoration: underline;
}

h1,
h2 {
    display: block;
    position: absolute;
    text-align: right;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1 {
    background-color: rgba(159, 1, 1, .5);
    padding-right: 4vw;
    padding-left: 4vw;
}

h2 {
    background-color: rgba(57, 45, 45, .5);
    padding-right: 2vw;
    padding-left: 2vw;
}

.slide>div:nth-child(1)>h1 {
    font-size: 9vw;
    top: 8vw;
    left: 50vw;
    padding-right: 4vw;
    padding-left: 4vw;
    line-height: 12vw;
}

.slide>div:nth-child(1)>h2 {
    font-size: 4vw;
    top: 22.6vw;
    left: 60vw;
    padding-right: 2vw;
    padding-left: 2vw;
    line-height: 6vw;
}

.slide>div:nth-child(2)>h1 {
    font-size: 6vw;
    top: 9vw;
    left: 150vw;
    line-height: 10vw;
}

.slide>div:nth-child(2)>h2 {
    font-size: 3vw;
    line-height: 6vw;
    top: 20.5vw;
    left: 155vw;
}

.slide>div:nth-child(3)>h1 {
    font-size: 6vw;
    top: 17vw;
    left: 245vw;
    line-height: 10vw;
}

.slide>div:nth-child(3)>h2 {
    font-size: 3vw;
    line-height: 6vw;
    top: 12.6vw;
    left: 270vw;
}

.slide>div:nth-child(4)>h1 {
    font-size: 6vw;
    top: 15.5vw;
    left: 353vw;
    line-height: 10vw;
}

.slide>div:nth-child(4)>h2 {
    font-size: 3vw;
    line-height: 6vw;
    top: 11vw;
    left: 347vw;
}

.slide>div:nth-child(5)>h1 {
    font-size: 5vw;
    top: 25vw;
    left: 450vw;
    line-height: 8vw;
}

.slide>div:nth-child(5)>h2:nth-of-type(1) {
    font-size: 3vw;
    line-height: 6vw;
    top: 18vw;
    left: 480vw;
}

.slide>div:nth-child(5)>h2:nth-of-type(2) {
    font-size: 3vw;
    line-height: 6vw;
    top: 34vw;
    left: 455vw;
    text-transform: none;
}

.tagline {
    width: 100vw;
    font-size: 1.3vw;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 4vw;
    background-image: linear-gradient(to bottom right, rgba(210, 30, 30, .6), rgba(183, 5, 5, 1));
}


.footer ul {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    font-size: 1vw;
    padding: 0;
    color: #CAC4C4;
}

.footer li {
    width: 25vw;
}

.footer i {
    margin-right: 1vw;
}

.footer tr {
    vertical-align: top;
}

.footer img {
    width: 3vw;
    margin: auto;
}

.footer li:last-child a,
.footer li:last-child h3 {
    padding-left: 1vw;
}

.footer p>a {
    text-decoration: underline;
    color: #CAC4C4;
}

.footer p>a:hover {
    text-decoration: none;
}

.footer p>a:not(:last-child):after {
    content: '';
    display: inline;
    border-right: solid 1px;
    padding-right: 1vw;
}

.end {
    text-align: center;
    font-size: 1vw;
    color: #CAC4C4;
    background-color: #212121;
    line-height: 2vw;
}


/*анимации*/

@keyframes slideshow {
    0% {
        transform: translateX(0)
    }
    18% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(-100vw)
    }
    38% {
        transform: translateX(-100vw)
    }
    40% {
        transform: translateX(-200vw)
    }
    58% {
        transform: translateX(-200vw)
    }
    60% {
        transform: translateX(-300vw)
    }
    78% {
        transform: translateX(-300vw)
    }
    80% {
        transform: translateX(-400vw)
    }
    100% {
        transform: translateX(-400vw)
    }
}

